<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>basicCube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>basicCubeGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>184</integer>
		</dict>
		<key>basicTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>basicWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>glGA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6707FFE118171A2C00E92072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6707FFEE18171AC900E92072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>672465F118214AF90000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6724661B18214EC50000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67246644182151DE0000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6724666E182153BE0000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>672466A418215C1F0000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>672466D2182162010000FBC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676EADBC1826DC83006499B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676EADD91826EABE006499B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676EADFB1826F043006499B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676EAE3018270511006499B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C5C72718186C8C00EB05AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C5C7551819078B00EB05AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C5C78C1821421F00EB05AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C5C7AB182146C600EB05AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC002C1636E1CE000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC003D1636E380000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC004B1636E3A0000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC00591636E3C7000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC00671636E414000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC00751636E428000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67DC00831636E435000823EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
